<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="add_stu" class="btn-outline-success col-6">
        <input type="reset" value="reset" class="btn btn-outline-warning col-6 float-right">

    </form>
</body>
</html>